html {
  scroll-behavior: smooth;
  scroll-margin-top: -50vw;
  overflow-x: hidden;
}

.bgd-m1,
.bgd-m2,
.bgd-m3,
.bgd-m4 {
   display: none;
}

.bgd4,
.bgd-m4 {
  filter: brightness(90%);
}

.nav-link i{
  display: none;
}

#skills_link {
  position: absolute;
  right: 17%;
}

#projects_link {
  position: absolute;
  margin-top: 0.5%;
  right: 9.8%;
}

.nav-link .display-5 {
  margin-top: 1%;
  margin-bottom: -1%;
}

.nav-link p:hover {
  font-weight: 600;
  transition: 0.1s ease;
}

.navbar-brand p:hover {
  font-weight: 600;
  transition: 0.1s ease;
}

/* width */
.experience::-webkit-scrollbar {
  width: 1.1vw;
}

/* Handle */
.experience::-webkit-scrollbar-thumb {
  border: 0.2vw solid #e0eaef;
  background: transparent;
  border-radius: 1vw;
}

/* Handle on hover */
.experience::-webkit-scrollbar-thumb:hover {
  background: #e0eaef;
}

/* width */
.description::-webkit-scrollbar {
  width: 1.1vw;
}

/* Handle */
.description::-webkit-scrollbar-thumb {
  border: 0.2vw solid #e0eaef;
  background: transparent;
  border-radius: 1vw;
}

/* Handle on hover */
.description::-webkit-scrollbar-thumb:hover {
  background: #e0eaef;
}

.bg-image {
  position: relative;
  text-align: center;
  color: white;
}

.me {
  position: absolute;
  top: 22%;
  left: 17%;
}

.social-btns {
  position: absolute;
  top: 47%;
  left: 29.7%;
}

.social-btns img {
    width: 5.5vw;
    padding: 11%;
    transition: 0.2s ease;
}

.social-btns img:hover {
    transform: scale(1.3);
}

.chess {
  position: absolute;
  top: 10%;
  right: 16%;
}

.programming {
  text-align: left;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 25%;
}

.engineering {
  text-align: left;
  position: absolute;
  top: 25%;
  left: 40%;
  width: 25%;
}

.skills {
  margin-bottom: 2%;
}

.techs {
  width: 5%;
  float: left;
}

.tech-prog {
  padding-top: 2.5%;
  width: 100%;
}

.progress {
  margin-bottom: 6.8%;
  margin-left: 15%;
}

.progress-bar {
  padding-left: 3%;
  text-align: left !important;
}

.techs img {
  width: 2.5vw;
}

.satellite {
  position: absolute;
  top: 10%;
  left: 16%;
}

.mountains {
  position: absolute;
  top: 16%;
  right: 12%;
}

.projects {
  position: absolute;
  top: 30%;
  left: 6%;
  right: 50%;
}

.projects-chosen {
  position: absolute;
  top: 30%;
  left: 50%;
  right: 5%;
  bottom: 12.5%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

.projects-chosen .logo {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 17vw;
}

.projects-chosen .name {
  text-align: left;
  position: absolute;
  top: 5%;
  left: 50%;
  right: 5%;
}

.name img {
  float: left;
  width: 2.5vw;
  margin-right: 1.3%;
}

.projects-chosen .description {
  position: absolute;
  top: 62%;
  left: 5%;
  right: 5%;
  height: 7vw;
}

.learn {
  position: absolute;
  top: 88%;
  left: 40%;
}

.learn i {
  position: absolute;
  left: 20%;
  top: 30%;
  font-size: 1.4vw;
}

.name .mob {
  display: none;
}

.experience-chosen {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 50%;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

.experience-chosen .logo {
  position: absolute;
  top: 2%;
  left: 2.1%;
  width: 37.7vw;
}

.experience-chosen .name {
  position: absolute;
  top: 30%;
  left: 5%;
  right: 5%;
  text-align: left;
}

.experience-chosen .description {
  float: left;
  margin-top: 2%;
  height: 10vw;
}

.experience {
  position: absolute;
  top: 37%;
  right: 12%;
  height: 25.5vw;
  overflow: hidden;
  overflow-y: scroll;
}

.description {
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
}

.active1 {
  color: #282b5e !important;
}

.active1 p {
  font-weight: 600;
}

.proj {
  display: flex;
  position: relative;
  float: left;
  padding-left: 0.4vw;
  padding-top: 0.4vw;
  margin-right: 0.38vw;
  margin-bottom: 0.5vw;
}

.proj .overlay {
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 0;
  transition: .4s ease;
  font-size: 7vw;
}

.proj:not(.no-hover):hover .overlay {
  opacity: 0.7 !important;
}

.proj img {
  width: 13.5vw;
  filter: brightness(100%);
  transition: .4s ease;
}

.proj:not(.no-hover):hover img {
  filter: brightness(30%) !important;
}

.exp {
  padding-top: 1%;
  margin-bottom: 1%;
  display: flex;
  position: relative;
}

.exp .overlay {
  position: absolute;
  top: 20%;
  left: 38%;
  opacity: 0;
  transition: .4s ease;
  font-size: 6vw;
}

.exp:not(.no-hover):hover .overlay {
  opacity: 0.7 !important;
}

.exp img {
  filter: brightness(100%);
  transition: .4s ease;
  width: 32vw;
  padding-right: 2%;
}

.exp:not(.no-hover):hover img {
  filter: brightness(30%) !important;
}

.blinking .overlay{
    opacity: 1;
}

.blinking img{
    animation:blinkingImg 2s infinite;
}

@keyframes blinkingImg{
    0%{     filter: brightness(30%);    }
    50%{    filter: brightness(70%);    }
    100%{   filter: brightness(30%);    }
}

@media only screen and (max-width: 630px) {
   .bgd1,
   .bgd2,
   .bgd3,
   .bgd4 {
     display: none;
   }

   .bgd-m1,
   .bgd-m2,
   .bgd-m3,
   .bgd-m4 {
     display: block;
   }

   .nav-link p{
     display: none;
   }

   .nav-link i{
     display: block;
   }

   .me {
     top: 32%;
     left: 0%;
   }

   .social-btns {
     top: 54%;
     left: 30%;
   }

   .social-btns img {
       width: 12vw;
       padding: 11%;
   }

   .chess {
     top: 10%;
     right: 33%;
   }

   .programming {
     top: 30%;
     left: 7%;
     width: 35%;
   }

   .engineering {
     top: 30%;
     left: 60%;
     width: 35%;
   }

   .skills {
     margin-bottom: 5%;
   }

   .techs {
     width: 10%;
   }

   .tech-prog {
     padding-top: 7%;
     width: 100%;
   }

   .progress {
     margin-bottom: 12%;
     margin-left: 20%;
   }

   .progress-bar {
     padding-left: 3%;
   }

   .techs img {
     width: 5vw;
   }

   .satellite {
     top: 10%;
     left: 23%;
   }

   .mountains {
     top: 10%;
     right: 12%;
   }

   .projects {
     top: 25%;
     left: 10%;
     right: 10%;
   }

   .projects-chosen {
     top: 65%;
     left: 10%;
     right: 10%;
     bottom: 10%;
   }

   .projects-chosen .logo {
     top: 8%;
     left: 5%;
     width: 23vw;
   }

   .projects-chosen .name {
     top: 8%;
     left: 40%;
     right: 5%;
   }

   .name img {
     width: 4vw;
     margin-right: 1.3%;
   }

   .projects-chosen .description {
     top: 64%;
     left: 5%;
     right: 5%;
     height: 7vw;
   }

   .learn {
     top: 88%;
     left: 40%;
   }

   .learn i {
     position: absolute;
     left: 20%;
     top: 30%;
     font-size: 2vw;
   }

   .name .desk {
     display: none;
   }

   .name .mob {
     display: block;
   }

   .experience-chosen {
     top: 50%;
     left: 10%;
     right: 10%;
     bottom: 10%;
   }

   .experience-chosen .logo {
     top: 4%;
     left: 4%;
     width: 50vw;
   }

   .experience-chosen .name {
     top: 30%;
     left: 5%;
     right: 5%;
   }

   .experience-chosen .description {
     margin-top: 2%;
     height: 15vw;
   }

   .experience {
     top: 24%;
     right: 20%;
     left: 10%;
     height: 40vw;
   }

   .proj {
     padding-left: 1.5vw;
     padding-top: 1.2vw;
     margin-right: 1vw;
     margin-bottom: 1vw;
   }

   .proj .overlay {
     top: 25%;
     left: 27%;
     font-size: 13vw;
   }

   .proj img {
     width: 23.8vw;
   }

   .exp {
     padding-top: 1%;
     margin-bottom: 1%;
   }

   .exp .overlay {
     top: 20%;
     left: 40%;
     font-size: 10vw;
   }

   .exp img {
     width: 57vw;
   }

   /* width */
   .experience::-webkit-scrollbar {
     width: 2vw;
   }

   /* Handle */
   .experience::-webkit-scrollbar-thumb {
     border-radius: 2vw;
   }

   /* width */
   .description::-webkit-scrollbar {
     width: 1.5vw;
   }

   /* Handle */
   .description::-webkit-scrollbar-thumb {
     border-radius: 2vw;
   }
}
